@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');


body{

	font-family: 'Noto Serif', serif;
	color: #888888;
	line-height: 1.7;
}

a:hover, a:focus{text-decoration: none;}
input:focus, button:focus, textarea:focus{outline: none;}
h1, h2, h3, h4, h5, h6{
	font-family: 'Zilla Slab', serif;
	color: #000;
	font-weight: 700;
}

.header-area.header-absolute {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9;
}
.header-area.header-absolute a, .header-absolute .search-icon{
	color: #fff;
}
.slide-bg-1{background-image: url(../img/slide-bg.jpg);}
.services-bg:before {background-image: url(../img/service-bg.jpg);}

.logo {
  font-size: 20px;
  font-weight: 700;
  margin-top: 13px;
}
.logo img {
	margin-right: 6px;
}
.header-area a, .search-icon{
  color: #333;
}
.main-manu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-manu li {
  display: inline-block;
  position: relative;
}

.header-area {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Zilla Slab', serif;
}
.main-manu li a {
  display: block;
  padding: 16px;
}
.search-icon {
	margin-top: 10px;
	display: inline-block;
}
.single-slide-item {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-color: #333;
}
.single-slide-item:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  content: "";
  width: 100%;
  background: #000;
  z-index: -1;
  opacity: .66;
}
.slide-text, .slide-text a {
  color: #fff;
}
.slide-text {
	font-size: 14px;
	padding: 160px 0;
}
.slide-text h2 {
  color: #fff;
  font-size: 60px;
}
.slide-text h2 span {
  font-weight: 300;
  font-style: italic;
}
.play-icon {
	background-color: #0bbbc1;
	line-height: 48px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.boxed-btn {
	background-color: #0bbbc1;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 50px;
	font-weight: 700;
	font-family: 'Zilla Slab', serif;
}
.video-btn {
	display: block;
	position: relative;
	margin: 30px 0;
}

.owl-carousel .owl-item .slide-text img {
	width: auto;
	display: inline-block;
}
.homepage-slides .owl-nav div {
  color: #fff;
  font-size: 20px;
  left: 8%;
  line-height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
.homepage-slides .owl-nav div.owl-next {
  left: auto;
  right: 8%;
}
.section-paadding {
  padding: 100px 0;
}
.section-paadding h2 {
  padding-bottom: 20px;
}
.space-90 {
    height: 90px;
}
.single-promo-box {
  margin-top: 30px;
  text-align: center;
}
.promo-icon {
  color: #0bbbc1;
  font-size: 25px;
  margin-bottom: 12px;
}
.single-promo-box h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.tile-gallery {
    height: 729px;
    margin-left: 16px;
    position: relative;
}
.tile-gallery img {
    border-radius: 5px;
    box-shadow: 3px 5px 9px #dddddd;
    position: relative;
    z-index: 1;
}
.tile-gallery img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
}
.tile-gallery img:nth-child(3) {
    bottom: 0;
    left: 20px;
    position: absolute;
    z-index: 3;
}


.single-service-item {
    padding-bottom: 18px;
    padding-left: 100px;
    padding-top: 18px;
    position: relative;
    display: block;
    color: #888;
}
.service-icon {
    color: #0bbbc1;
    font-size: 30px;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 85px;
}
.single-service-item h3 {
    font-size: 20px;
}
.single-service-item:hover {
    background: #0bbbc1 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.single-service-item:hover h3, .single-service-item:hover .service-icon {
    color: #fff;
}
.single-service-item:hover::after {
    background-color: #0bbbc1;
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 5000%;
}
.services-bg {
    overflow: hidden;
    position: relative;
}
.services-bg:before{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51.2%;
  content: "";
}

.service-icon-table {
    display: table;
    height: 100%;
    width: 100%;
}
.service-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}
