.boxed-btn, .single-service-item:hover, .single-service-item:hover:after, .play-icon, 
.owl-dots div.active,.social-links a:hover, .mainmenu li li:hover > a {background-color: #e67e22; }

.service-icon, .single-blog-box a, .mainmenu li:hover > a, .mainmenu li.mega-menu ul li a:hover, 
.mainmenu li.mega-menu ul h5, .promo-icon {color: #e67e22;}

.social-links a:hover, .theme-2 .single-team-item:hover{border-color: #e67e22; }