/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

.slide-text h2 {
    font-size: 50px;
}
.tile-gallery img {
    max-width: 326px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}

}

/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
 
 h2 {
    font-size: 25px;
}
.mainmenu {
    display: none;
}
.logo img {
    max-width: 100%;
    height: 24px;
}
.logo {
    font-size: 12px;
    margin-top: 10px;
}
.search-icon {
    margin-top: 9px;	
}
.slide-text h2 {
    font-size: 20px;
}
.slide-text {
    padding: 100px 0;
}
.section-padding {
    padding: 46px 0;
}
.tile-gallery {
    height: auto;
    margin-left: 0;
}
.tile-gallery img:nth-child(2) {
    position: relative;
    right: auto;
    top: auto;
}
.tile-gallery img:nth-child(3) {
    position: relative;
    bottom: auto;
    left: auto;
}
.services-bg:before {
    height: 400px;
    width: 100%;
}
.services-bg {
    padding-top: 450px;
}
.single-service-item:after{
	display: none;
}
.text-right.mobile-left {
    text-align: left;
}
.footer-area .col-md-2, 
.footer-area .col-md-3 {
    margin-top: 50px;
}


/*Responsive Menu*/

.slicknav_menu {
    font-size: inherit;
    background: none;
    padding: 0;
}

.slicknav_btn {
    background: none;
    text-shadow: 0 0 0;
    float: none;
    padding: 15px 0;
    margin: 0;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}
.slicknav_nav {
    background: #22BBC0;
    width: 200px;
    margin-left: -50px;
}

.slicknav_menu .slicknav_icon {
    margin: 0;
    display: inline-block;
    float: none;
}

.slicknav_nav .slicknav_row, .slicknav_nav a {
    margin: 0;
    padding: 10px;
}

.slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {
    background-color: #333;
    border-radius: 0;
}

}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
.slicknav_nav {
    width: 100%;
    margin-left: 0;
    }

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.slicknav_nav {
    width: 100%;
    margin-left: 0;
    }
    

}